<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>My Pickup calls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <app-pickup-call-card status="hold" updatedAt="25/08/2024 12:30:00" createdAt="25/08/2024" notes="Menyediakan Pesanan Catering Seluruh DIY"></app-pickup-call-card>

  <app-pickup-call-card status="processing" updatedAt="26/08/2024 13:30:00" createdAt="26/08/2024" notes="Menerima Pesanan Catering di Kecamatan Ngaglik"></app-pickup-call-card>

  <app-pickup-call-card status="finished" updatedAt="29/08/2024 12:30:00" createdAt="29/08/2024" value="Rp 1.000.000"></app-pickup-call-card>

</ion-content>
